.login {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
}

.login input {
  width: 100%;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  box-sizing: border-box;
}

.login input[type="email"],
.login input[type="password"] {
  border: 1px solid #c0c0c0;
  transition: 0.2s;
}

.login input[type="email"]:hover,
.login input[type="password"]:hover {
  border-color: blue;
  outline: none;
}

.log-in {
  width: 100%;
  height: 48px;
  border: none;
  background: blue;
  color: white;
  font-weight: bold;
  margin: 20px 0px;
  cursor: pointer;
  transition: 0.2s;
}

.log-in:hover {
  background: blue;
}

.login h2 {
  margin: 20px 0 0;
  color: blue;
  font-size: 28px;
  text-align: center;
}

.login p {
  margin-bottom: 20px;
  text-align: center;
}

#error-msg {
  color: red;
  text-align: center;
  font-size: 14px;
}
